@media(max-width 1024px)
  .container
    padding 0 35px
  .kudaGo-event
    h3
      width max-content
    p
      &:nth-child(2)
        width max-content
@media(max-width 830px)
    .initial-screen
      .wrap
        .kudaGo-form
          span
            margin 0 10px 0 0
    .kudaGo-event
      padding 35px 30px
      flex-wrap wrap
      .button
        width 100%
        margin-top 25px
    .kudaGo-form
      &__sorting
        width 100%
        margin-top 50px

      .flex
        flex-wrap wrap
@media(max-width 650px)
  .kudaGo-event
    justify-content flex-start
    h3
      width 100%
      margin-bottom 20px
      font-size 22px
    p
      margin-right 20px
      line-height 27px

  .initial-screen
    .wrap
      h1
        font-size 70px
      p
        font-size 16px

@media(max-width 570px)
  .tab
    margin-bottom 15px
  .initial-screen
    .wrap
      .kudaGo-form
        span
          width 100%
          margin-bottom 15px

@media(max-width 465px)
  .initial-screen
    .wrap
      h1
        font-size 50px

@media(max-width 380px)
  .container
    padding 0 15px
  .kudaGo-tabs
    text-align center
  .initial-screen
    .wrap
      h1
        font-size 40px
        text-align center
      p
        display none

      .kudaGo-form
        button
          width 100%
          margin-right 0
          margin-bottom 8px
